
@{
    ViewData["Title"] = "Resume";
}
<div class="card border-info mb-3">
  <div class="card-header">Giang M Phan's Resume</div>
  <div class="card-body">
    <h4 class="card-title">Software Engineer</h4>
    <p class="card-text"></p>
  </div>
</div>