<div>
    <p class="card-text indented-paragraph">
        While you're here, I'd like to share a bit about myself. I'm in my thirties, but I find it challenging to define myself beyond 
        that (and no, I'm not referring to my gender<i class="bi bi-emoji-smile"></i>). I tend to be quite introspective, often pondering whether 
        others engage in as much contemplation as I do.
    </p>
    <p class="card-text indented-paragraph">
        Traveling is a passion of mine. It's a way for me to unwind and give my mind a break from its constant activity. Lately, I've 
        found even more joy in traveling because of my kids. Watching them explore new places and playgrounds brings me immense happiness 
        and adds to my own enjoyment of travel.
    </p>
    <p class="card-text indented-paragraph">
        As for my physical health, I'm committed to staying fit. Working out is a priority for me, not only for my well-being but also 
        for my mind to stay sharp. I aim to work out at least four days a week, adhering to the principle that "no goal, no progress" guides my life.
    </p>
    <p class="card-text indented-paragraph">
        Setting daily goals is another habit of mine. I believe in accomplishing at least one thing each day, as small victories accumulate 
        over time. Whether it's completing a section of my website, tidying up a part of my living space, or indulging in a favorite TV episode, 
        I approach each task with a mix of determination and balance.

        While I understand that sharing these aspects of my life may come across as boastful, my intention is simply to be genuine. Everyone 
        has their flaws, but I prefer to focus on genuine connections rather than trying to impress others, especially on a website.
    </p>
    <p class="card-text indented-paragraph">
        Finally, I have a deep love for coding and problem-solving. I find solace in the process of immersing myself in programming, much 
        like the sense of adventure I felt playing video games as a child. Programming allows me to craft virtual worlds and exercise my 
        imagination, particularly with object-oriented programming, where I envision classes, objects, and other concepts as tangible elements 
        under my control, akin to navigating the Matrix.
    </p> 
</div>
