@{
    ViewData["Title"] = "Home Page";
    bool resumeLoaded = false;
}

<div class="card mb-3">
    <h3 class="card-header">Giang Michael Phan</h3>
    <div class="card-body">
        <h5 class="card-title">Web Application Engineer</h5>
        <h6 class="card-subtitle text-muted">Full Stack Developer with a Passion for Building User-Friendly Applications</h6>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" 
        focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <image xlink:href="/images/wallpaper1280x360_2.jpeg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">"No goal, no progress."</text>
    </svg>
    
    
    <div class="card-body text-center">
        <h3>"If you allow your emotions/feelings to overpower your thoughts, you may lose your sense of self."</h3>
        <h6><i>"by Mike Tyson."</i></h6>
    </div>


    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                About Me
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                @Html.Partial("_AboutMe")
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Information Cards
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                @Html.Partial("_InformationCards")
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                My Resume
                @* if click the button index == null then pull from database
                    if != null then display what already there. 
                 *@
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @Html.Partial("_Resume")
                </div>
            </div>
        </div>  
    </div>
    
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>


