@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3">
    <h3 class="card-header">Giang Michael Phan</h3>
    <div class="card-body">
        <h5 class="card-title">Web Application Engineer</h5>
        <h6 class="card-subtitle text-muted">Full Stack Developer with a Passion for Building User-Friendly Applications</h6>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" 
        focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <image xlink:href="/images/wallpaper1280x360_2.jpeg" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">"No goal, no progress."</text>
    </svg>
    
    
    <div class="card-body">
        <p class="card-text indented-paragraph">
            While you're here, I'd like to share a bit about myself. I'm in my thirties, but I find it challenging to define myself beyond 
            that (and no, I'm not referring to my gender<i class="bi bi-emoji-smile"></i>). I tend to be quite introspective, often pondering whether others engage in 
            as much contemplation as I do.
        </p>
        <p class="card-text indented-paragraph">
            Traveling is a passion of mine. It's a way for me to unwind and give my mind a break from its constant activity. Lately, I've 
            found even more joy in traveling because of my kids. Watching them explore new places and playgrounds brings me immense happiness 
            and adds to my own enjoyment of travel.
        </p>
        <p class="card-text indented-paragraph">
            As for my physical health, I'm committed to staying fit. Working out is a priority for me, not only for my well-being but also 
            for the occasional chance to show off my muscles to friends<i class="bi bi-emoji-smile"></i>. I aim to work out at least four days a week, adhering to the 
            principle that "no goal, no progress" guides my life.
        </p>
        <p class="card-text indented-paragraph">
            Setting daily goals is another habit of mine. I believe in accomplishing at least one thing each day, as small victories accumulate 
            over time. Whether it's completing a section of my website, tidying up a part of my living space, or indulging in a favorite TV episode, 
            I approach each task with a mix of determination and balance.

            While I understand that sharing these aspects of my life may come across as boastful, my intention is simply to be genuine. Everyone 
            has their flaws, but I prefer to focus on genuine connections rather than trying to impress others, especially on a website.
        </p>
        <p class="card-text indented-paragraph">
            Finally, I have a deep love for coding and problem-solving. I find solace in the process of immersing myself in programming, much 
            like the sense of adventure I felt playing video games as a child. Programming allows me to craft virtual worlds and exercise my 
            imagination, particularly with object-oriented programming, where I envision classes, objects, and other concepts as tangible elements 
            under my control, akin to navigating the Matrix.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>